[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[36a279d9-9193-42a9-9628-3dcfcc5ba629]
row=1
col=0

[407 MB Volume]
row=2
col=0

[5f7e4c1a-0e60-41b7-b4f8-c82989dc2e32]
row=0
col=0

[3024-FBAD]
row=6
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/officialmofabs]
row=5
col=0

